a {
  text-decoration: none;
  color: inherit;
}

.bottom-nav {
  order: 99999;
  background-color: #33CC33;
  background-image: linear-gradient(#33CC33,#008000);
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.nav-link {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  color: #FFFFFF;
  padding: 10px 0;
  width: 25vw;
  flex-grow: 1;
}

.nav-link > img {
  height: 20px;
}

.nav-link:active {
  background-color: #5beb5b;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
