* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: #33CC33;
  background-image: linear-gradient(#33CC33,#008000);
  display: flex;
  color: #FFFFFF;
  align-items: stretch;
  justify-content: space-around;
}

.bottom-nav {
  order: 99999;
}

.bottom-nav-link {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  padding: 10px 0;
  width: 50vw;
  flex-grow: 1;
}

.bottom-nav-link > img {
  height: 20px;
}

.bottom-nav-link:active {
  background-color: #5beb5b;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
}

.app-title {
  text-align: center;
  flex-grow: 1;
  }

.hamburger-container {
  z-index: 3;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 26px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
  padding: 0 10px;
}

.hamburger-button, .hamburger-button::before, .hamburger-button::after {
  content: '';
  background-color: #FFFFFF;
  position: absolute;
  width: 30px;
  height: 4px;
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}

.hamburger-button::before {
  transform: translate(-15px, -10px);
}

.hamburger-button::after {
  transform: translate(-15px, 10px);
}

.open .hamburger-button {
  background: transparent;
}

.open .hamburger-button::before {
  transform: rotate(-45deg) translate(-10px, -10px);
}

.open .hamburger-button::after {
  transform: rotate(45deg) translate(-10px, 10px);
}